# dependencies
/node_modules

# production
/dist

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
.pnpm-debug.log*

# env files
.env*

# typescript
*.tsbuildinfo

# temporary working files
.tmp-*
.tmp-screenshots/
